//- head.pug
- let s = quantity

doctype(html)
html(style=`--quantity:${quantity}; --size:${size}; --degrees:${degrees}; --col:${col}`)
  head
    title Swirly thing with Pug + CSS
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')
    style
      include ../public/styles/slider.css    
    style
      include ../public/styles/style.css 