include head.pug
body  
  main.v-align
    header
      h1 Swirly thing with Pug + CSS
      p
        span Quantity 
        select(class='quantity')
          each q in quantities
            option(value=q selected=(quantity==q)) #{q} 
      p
        span Size 
        input(
          type='range'
          min='1'
          max='150'
          value=size
          class='size slider'
        )
      p
        span Swirl 
        input(
          type='range'
          min='0'
          max='1080'
          value=degrees
          class='degrees slider'
        )
      p 
        span Colour 
        input(
          type='color'
          value=col
          class='colour-picker'
        )

    .wrapper
      while s--
        .line(style=`--s:${s}`)

    footer.p-10
      p.text-center &copy; Roland Levy 2020 
        a.new-tab-icon(href='https://rolandlevy.co.uk', target='_blank') see more of my projects

  script 
    include ../public/src/script.js