- let s = quantity

doctype(html)
html(style=`--quantity:${quantity}; --size:${size}; --degrees:${degrees}`)
  head
    title Swirly thing with Pug + CSS
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700&display=swap')
    style
      include styles/slider.css    
    style
      include styles/style.css
    script
      include src/script.js

  body
    header
      h1 Swirly thing with Pug + CSS
      p
        span Quantity 
        select(class='quantity')
          each q in quantities
            option(value=q selected=(quantity==q)) #{q} 
      p
        input(
          type='range'
          min='1'
          max='150'
          value=size
          class='size slider'
      )
      p
        input(
          type='range'
          min='0'
          max='720'
          value=degrees
          class='degrees slider'
      )
    .wrapper
      while s--
        .segment(style=`--s:${s}`)